<div class="navbar navbar-jianshu expanded">
  <div class="dropdown">
    <a class="active logo" role="button" href="#">
      <span class="title">首页</span>
    </a>
    <a role="button" href="#">
      <span class="title">专题</span>
    </a>
    <a role="button" href="#">
      <span class="title">热门</span>
    </a>
  </div>
  <div class="nav-user">
    <a role="button" href="#">
      <span class="title">登录或注册</span>
    </a>
  </div>
</div>
