<div class="span3 left-aside">
  <div class="cover-img" style="background-image: url(ptBkw6yyke.jpg)">
  </div>
  <div class="bottom-block">
    <h1>二瓜</h1>
    <h3>口号</h3>
    <p>描述</p>
    <a class="btn btn btn-large btn-success" href="#">按钮</a>
  </div>
</div>
