<div class="span7 offset3">
  <div class="page-title">
    <ul class="recommened-nav navigation clearfix">
      <li id="recommond" class="active"><a href="#" onclick="OnActive_recommond()">二瓜推荐</a></li>
      <li id="guanzhu_list" class=""><a href="#" onclick="OnActive_guanzhulist()">我的关注</a></li>
      <li class="search">
        <form class="search-form" method="post" action="/search" >
          <input class="input-medium search-query" type="text" placeholder="搜索" />
        </form>
      </li>
    </ul>
  </div>
  <div id="main-context">
    <ul class="unstyled clearfix sort-nav">
      <li class="active">
        <a href="#">全部</a>
      </li>
      <li class="">
        <a href="#">照片</a>
      </li>
      <li class="">
        <a href="#">视频</a>
      </li>
      <li class="">
        <a href="#">微博</a>
      </li>
    </ul>
    <ul class="thumbnails">
      <li>
        <div class="article">
          <a class="title" href="/p/34d9abe4aeb9" target="_blank">散了的酒席和无法重聚的朋友情谊</a>
          <a class="avatar maleskine-author" data-user-slug="26c05b80d84e" href="/users/26c05b80d84e"><img alt="8d239a5bcada" quality="100" src="http://upload.jianshu.io/users/upload_avatars/67084/8d239a5bcada.jpg?imageMogr/thumbnail/90x90/quality/100" thumbnail="90x90" /></a>
          <br>
          <a class="content" href="/p/34d9abe4aeb9" target="_blank">     酒席总是为了一些理由而存在，朋友情谊是一种。朋友聚会喝酒的意趣在于彼此畅谈，只是到了中年以后，这样的欢聚成了奢求，更难留存的还有老友情谊。数数这半生里的朋友，聚了散，散了再聚的人能有几个？年轻的时候很喜欢那种洒脱的境界：一切随意、随缘。彼此挥挥手就此道别的洒脱来自对未来的信心，还有为...</a>
        <div class="article-info">
          <a class="author" href="/users/26c05b80d84e">李广宇</a>
          <i class="icon-book"></i>
          <a class="notebook" href="/notebooks/147886/latest">人生若只如初见</a>
          <i class="icon-th"></i>&nbsp;<a class="collections" href="/collection/GQ5FAs">谈谈情，说说爱,</a><a class="collections" href="/collection/fcd7a62be697">身边的故事,</a><a class="collections" href="/collection/5330099dad59">我们受过的那些教育</a>
          <a class="like-icon-button" href="/sign_in" id="like-note"><i class='icon-heart-empty'></i>3</a>
          <a class="bookmark" href="/sign_in">
            <i class="icon-bookmark-empty"></i>
          </a>
        </div>
        </div>
      </li>
  </div>
</div>
